footer {
    background-color: #ff731d;
    color: #fff;
    padding: 16px 20px;
   
  }
  footer h4 {
    font-style: italic;
  }
  footer a {
    color: #ddd;
    text-decoration: none;
    transition: 0.3s ease-out color;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  
  footer .links {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  